<script src="create.appointment.ts"></script>
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Creeaza o cerere de consultatie!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    <ion-label id="programMedic" color="dark">
      Programul medicului
    </ion-label>
  </ion-card>

  <ion-list *ngIf="schedulesHasArrived">
    <!--<a ion-item (click)="openModal({charNum: 0})">
      Luni
    </a>-->

    <ion-card (click)="openModal({charNum: 0})">
      <ion-item>
        <ion-label color="primary" stacked>
          {{days[0].name}}
          {{getTime(practitionerSchedule[0].planningHorizon.start)}} -
          {{getTime(practitionerSchedule[0].planningHorizon.end)}}
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="openModal({charNum: 1})">
      <ion-item>
        <ion-label color="primary" stacked>
          {{days[1].name}}
          {{getTime(practitionerSchedule[1].planningHorizon.start)}} -
          {{getTime(practitionerSchedule[1].planningHorizon.end)}}
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="openModal({charNum: 2})">
      <ion-item>
        <ion-label color="primary" stacked>
          {{days[2].name}}
          {{getTime(practitionerSchedule[2].planningHorizon.start)}} -
          {{getTime(practitionerSchedule[2].planningHorizon.end)}}
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="openModal({charNum: 3})">
      <ion-item>
        <ion-label color="primary" stacked>
          {{days[3].name}}
          {{getTime(practitionerSchedule[3].planningHorizon.start)}} -
          {{getTime(practitionerSchedule[3].planningHorizon.end)}}
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="openModal({charNum: 4})">
      <ion-item>
        <ion-label color="primary" stacked>
          {{days[4].name}}
          {{getTime(practitionerSchedule[4].planningHorizon.start)}} -
          {{getTime(practitionerSchedule[4].planningHorizon.end)}}
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
        <button *ngIf="pending" ion-item color="primary" >
          <ion-icon name="md-clock" item-left></ion-icon>
          Cerere trimisa
        </button>

      <button *ngIf="booked" ion-item color="secondary" >
        <ion-icon name="md-clock" item-left></ion-icon>
        Cerere acceptata  {{bookedAppointment.date}}
      </button>

      <button *ngIf="cancelled" ion-item color="danger" >
        <ion-icon name="md-clock" item-left></ion-icon>
        Cerere respinsa  {{cancelledAppointment.date}}
      </button>
    </ion-card>
  </ion-list>
</ion-content>
