<script src="appointment.detail.ts"></script>

<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalii programare</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="patient" >
    <ion-item color="secondary">
      <ion-label>
        Detalii pacient
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">
        Nume:    {{patient.name.family}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">
        Prenume:    {{patient.name.family}}
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="patient">
    <ion-item color="secondary">
      <ion-label>
        Detalii programare
      </ion-label>
    </ion-item>

    <ion-label color ="primary">
      Data: {{targetAppointment.specialDate}}
    </ion-label>
  </ion-card >
  <ion-item *ngIf="beforeNewRequest">
    <button ion-button (click)="acceptAppointment()">Accepta</button>
    <button ion-button (click)="rejectAppointment()">Respinge</button>
  </ion-item>
  <ion-item *ngIf="beforeHome">
    <button ion-button (click)="finishAppointment()">Finalizeaza</button>
    <button ion-button (click)="rejectAppointment()">Respinge</button>
  </ion-item>

</ion-content>
