page-home {
  #popOver {
    float: right;
  }
  #cerere {
    color: royalblue;
  }
  #info {
    color: royalblue;
  }
  #personal {
    color: royalblue;
  }
  #personalPractitoner {
    color: royalblue;
  }
  #newRequest {
    color: royalblue;
  }
  #addPatient {
    color: royalblue;
  }
  #addSchedule {
    color: royalblue;
  }
  #title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logOutPatient, #logOutPractitioner {
    color: royalblue;
  }
}
