<script src="../request/new-request.ts"></script>
<script src="../../domain/appointment.ts"></script>
<script src="../../domain/patient.ts"></script>
<script src="../patient-details/patient.details.ts"></script>
<script src="../auth/login.ts"></script>
<script src="../../providers/appointment.service.ts"></script>
<script src="../../providers/patient.service.ts"></script>
<script src="../../providers/auth.service.ts"></script>
<script src="../../app/app.component.ts"></script>
<script src="home.ts"></script>

<ion-header>
  <ion-navbar>
    <ion-title id ="title" >{{modeStatus}}</ion-title>
    <button id ="popOver" (click)="logOut()" ion-button icon-only>
      <ion-icon name="md-log-out"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item *ngIf="practitionerMode">
      <ion-list>
        <button ion-item >
          <ion-icon (click) = "goToNewRequestPage()" id="newRequest" name="md-archive" item-left></ion-icon>
          Vezi cerererile de constultatii
        </button>
        <button ion-item >
          <ion-icon  id="addPatient" name="md-person-add" item-left></ion-icon>
          Adauga pacient
        </button>
        <button ion-item >
          <ion-icon  (click) = "goToSchedulePage()" id="addSchedule" name="md-settings" item-left></ion-icon>
          Configureaza program
        </button>
      </ion-list>
    </ion-item>

    <ion-list *ngIf="practitionerMode">
      <p>
      <button ion-item (click)="goToPatientDetails(appointment)" *ngFor="let appointment of appointments" color="secondary">
        <ion-icon name="md-time" item-left></ion-icon>
        {{appointment.participant[0].actor.display}} {{appointment.date}}
      </button>
      </p>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="patientMode">
    <ion-card-header>
      Alege o optiune
    </ion-card-header>

    <ion-list>
      <button ion-item >
        <ion-icon (click) = "askForAppointment()" id="cerere" name="md-medkit" item-left></ion-icon>
        Cerere de consultatie
      </button>
      <p>

      </p>
      <button ion-item >
        <ion-icon id="info" name="md-information-circle" item-left></ion-icon>
        Informatii medic
      </button>
      <p>

      </p>
      <button ion-item >
        <ion-icon id="personal" name="ios-person" item-left></ion-icon>
        Personal data
      </button>
    </ion-list>
  </ion-card>

</ion-content>
