page-home {
  #popOver {
    float: right;
  }
  #title {
    justify-content: center
  }
  #cerere {
    color: royalblue;
  }
  #info {
    color: royalblue;
  }
  #personal {
    color: royalblue;
  }
  #newRequest {
    color: royalblue;
  }
  #addPatient {
    color: royalblue;
  }
  #addSchedule {
    color: royalblue;
  }
}
